@page "/account"
@using FestivalTracker.Services
@using FestivalTracker.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@attribute [Authorize]
@inject UserManager Users
@inject NavigationManager Nav;
@inject DatabaseContext Database;
@inject CookieService Cookies;

<h1>Správa účtu</h1>

<div>

</div>
<h4>Jméno: @Users.CurrentUser.Person.Name</h4>
<h4>Příjmení: @Users.CurrentUser.Person.Surname</h4>
<h4>Email: @Users.CurrentUser.Person.Email</h4>
<div class="mt-4">
    @if (_currentUser.Person.Reservation.Count > 0) {
        <h3>Mé rezervace</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" style="width: 25%">Festival</th>
                <th scope="col" style="width: 25%">Typ</th>
                <th scope="col" style="width: 20%">Stav</th>
                <th scope="col" style="width: 10%">Cena</th>
                <th scope="col" style="width: 10%" class="">Akce</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var reservation in _currentUser.Person.Reservation) {
                <tr>
                    @{ var ticketType = Database.TicketType.First(x=>x.Id ==  reservation.Ticket.First().TicketTypeId);}
                    <td class="td-vertical-center" >@Database.Festival.Find(reservation.Ticket.First().FestivalId).Name</td>
                    <td class="td-vertical-center">@ticketType.Name</td>
                    <td class="td-vertical-center">@reservation.State</td>
                    <td class="td-vertical-center">@(ticketType.Price*reservation.Ticket.Count) ,-</td>
                    <td>
                        @if (reservation.State == "Rezervováno") {
                            <button class="btn btn-outline-danger" @onclick="@(_ => Pay(reservation))">Zaplatit</button>
                        }
                        else if(reservation.State == "Vydáno") {
                            <button class="btn btn-outline-info" @onclick="@(_ => Nav.NavigateTo("/reservation/" + reservation.Id))">Zobrazit lístky</button>
                        }
                    </td>
                </tr>
            }
            </tbody>
    
        </table>
    }
    else {
        <h3>Nemáte žádné rezervace. Co takhle si koupit nějaké lístky?</h3>
    }
</div>



@code {

    User _currentUser;
    
    
    async Task Pay(Reservation r) {
        await Cookies.SetCookie("Reservation", r.Id.ToString(), TimeSpan.FromDays(10));
        Nav.NavigateTo("/reservation/payment");
    }

    protected override void OnInitialized() {
        var curr = Users.CurrentUser;
        _currentUser = Database.User.Include(x => x.Person).ThenInclude(x => x.Reservation)
            .ThenInclude(x => x.Ticket).First(x => x.PersonId == curr.PersonId);

        base.OnInitialized();
    }

}